@import './breackpoints.scss';

.navigation {
  @include for-large-screen {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    margin: 0;
    margin-top: 30px;
    font-family: 'Unica One', cursive !important;
    font-size: 30px;
    letter-spacing: 3px;
    text-align: center;
    line-height: 41px;

    @include for-large-screen {
      font-size: 36px;
      letter-spacing: 4px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

    @include for-middle-screen {
      flex-direction: row;
    }
  }

  &__filter {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 700;
    color: $text-color-light;
    text-align: center;
  }

  &__select {
    margin-top: 13px;
    width: 150px;
    height: 37px;
    background-color: transparent;
    color: $text-color-main;
    border: 1px solid $color-light-grey;
    font-size: 16px;
    font-family: Karla, sans-serif;

    @include for-large-screen {
      border: none;
    }
  }

  &__sort {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 700;
    color: $text-color-light;
    text-align: center;

    @include for-middle-screen {
      margin-top: 0;
    }

    @include for-large-screen {
      margin-left: 20px;
    }
  }
}
