@import './variables.scss';
@import './breackpoints.scss';

.products {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}
.product-card {
  min-height: 321px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 25px;
  background-color: #fff;
  border: 1px solid $text-color-lighest;
  flex: 1;
  flex-basis: 50%;

  @include for-large-screen {
    height: 346px;
    flex-basis: 20%;
  }
  &__sale {
    width: 50px;
    height: 25px;
    line-height: 25px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 10px;
    background-color: $bg-clor-blue;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
  }

  &__img-wrapper {
  }

  &__img {
    display: block;
    max-width: 100%;
    width: 165px;
    height: auto;
  }

  &__info {
    margin-top: 30px;
  }

  &__name {
    margin: 0;
    text-align: center;
    font-size: 16px;
  }

  &__price {
    margin: 0;
    font-size: 14px;
    text-align: center;
    color: $text-color-light;
  }
}
